root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
trim_trailing_whitespace = true

[*.kt]
indent_size = 4

[*.kts]
indent_size = 4

[*.yml]
indent_size = 2

[*.xml]
indent_size = 4

[*.md]
indent_size = 3
max_line_length = off